<html>
    <html>
      
    <body>
      <div class="main">
      <div class="form-container">
        <h2>CONTACT US</h2>
        <div class="form">
          <input type="text" name="name" placeholder="Your Name">
          <input type="email" name="email" placeholder="Your Email" required><br>
          <label> Select your gender<br></label>
          <input type="radio" name="gender" value="male" id="cr1">
            <label for="cr1">Male</label>
          <input type="radio" name="gender" value="female" id="cr2">
            <label for="cr2">Female</label>     
          <select name="country">
            <option value="usa">Select Your Country</option>
            <option value="usa">USA</option>
            <option value="uk">UK</option>
            <option value="germany">Germany</option>
          </select><br>
          <input type="text" name="subject" placeholder="Subject"><br>
          <textarea type="text" name="message" placeholder="Write your message here..." required></textarea><br> 
          <input type="submit" name="submit" value="Send" id="send">
        </div>
      </div> 
     </div>   
    </body>    
    </html>