<div id="about">
    <h2>About us</h2>
    <p><b>Vehicle Service and Maintenance like never before!!</b><br>
        Founded in 2019 by Sarvesh, BikeService is the first online and offline service provider for vehicle service and maintenance solutions and caters to vehicle owners of the Indian market. 
        BikeService is focused to build and operate a chain of vehicle service centres and virtual technology platforms that will equip us to be easily accessible to the end customer and provide reliable, affordable and convenient vehicle repair options. 
        We shall also leverage the technology platforms and our outlets to provide other relevant services/products and become a one-stop vehicle maintenance partner to the customer.
    </p>
   <p>Our main services are provided by when a vehicle is breakdown the website will guide you to clear the problem or else it will give near repair center through best service centers in your near by places.
       There is one more option is in our website already bike mechanics are aviliable when ever you want particular service simple call the nearest service mechanic he will come and help to solve your problem.
    </p>
</div>
<div style="float:right;">
    <img src="/assets/Bike.jpg">
</div>