<div id="services">
        <h3 style="text-align: center;margin-bottom:40px;">My Services</h3>
    <table>
        <tr class="form-group">
            <th><img  class="logos"src="/assets/Repair Gudie.JPG"></th>
            <th><button routerLink="/RepairGuide"class="btn-primary">Repair Guide</button></th>
          </tr>
          <tr>
            <th><img  class="logos"src="/assets/service mechanic.JPG"></th>
            <th><button routerLink="/BikeMechanic"class="btn-primary">Bike Mechanics</button></th>
          </tr>
          <tr> 
            <th><img  class="logos"src="/assets/Location.JPG"></th>
            <th><button routerLink="/GPS"class="btn-primary">Near Repair (GPS)</button></th>

        </tr>
        <tr><th></th><th><button routerLink="/Login"class="btn-primary">Logout</button></th></tr>
    </table>
</div>

